#main-body
  #main
    %h1 The Creative Cesspool.
  #news
    %h2 The heck are you reading news for?
  #footer
    %div{:Class => "sports", :Style => "margin-left:25px;background-image:url(../../assets/basketball.png);"}
      %h1{:style => "color:grey;font-size:35px;text-align:center;padding-top:20px;"} Basketball
    %div{:Class => "sports", :Style => "background-image:url(../../assets/baseball.png);"}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} Baseball
    %div{:Class => "sports", :Style => "background-image:url(../../assets/football.png);"}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} Football
    %div{:Class => "sports", :Style => "margin-left:132px;background-image:url(../../assets/soccerball.png);"}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} Soccer
    %div{:Class => "sports", :Style => "background-image:url(../../assets/volleyball.png);"}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} Volleyball
    %div{:Class => "sports", :Style => ""}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} More...
