#main-body
  #main
    %h1 Weplayer of the Month
  #news
    %h2 Categories
    %p <a href="/index">All posts</a>
    %p <a href="/athlete">Athlete of the Month</a>
    %p <a href="/shot">Call The Shot</a>
    %p <a href="/coach">Coach of the Week</a>
    %p <a href="/mashup">Monday Mashup</a>
    %p <a href="/new">New on Weplay</a>
    %p <a href="/photo">Photo of the Day</a>
    %p <a href="/shout">Shout Stain Expert</a>
    %p <a href="/teammom">Team Mom of the Week</a>
    %p <a href="/topthis">Top This!</a>
    %p <a href="/podcasts">Weplay Podcasts</a>
    %p <a href="/court">Weplay from the Court</a>
    %p <a href="/weplayer">Weplayer of the Month</a>
    %p <a href="/weplays">Weplays of the Month</a>
  #footer
    %div{:Class => "sports", :Style => "margin-left:25px;background-image:url(../../assets/basketball.png);"}
      %h1{:style => "color:grey;font-size:35px;text-align:center;padding-top:20px;"} Basketball
    %div{:Class => "sports", :Style => "background-image:url(../../assets/baseball.png);"}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} Baseball
    %div{:Class => "sports", :Style => "background-image:url(../../assets/football.png);"}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} Football
    %div{:Class => "sports", :Style => "margin-left:132px;background-image:url(../../assets/soccerball.png);"}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} Soccer
    %div{:Class => "sports", :Style => "background-image:url(../../assets/volleyball.png);"}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} Volleyball
    %div{:Class => "sports", :Style => ""}
      %h1{:style => "font-size:35px;text-align:center;padding-top:20px;"} More...
